node_modules
dist
.tmp
bower_components
opdrachten/test/
Adviesrapport.docx
~$viesrapport.docx
aid_website

# Geen .idea/ map van Jetbrain.
.idea/

# Geen zipmappen.
*.zip

# Vendor map is nodig
!app/scripts/vendor/

_ide_helper.php

